<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
<title th:text="${pageTitle}">Generic Page Title</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>


</head>

<body>
	
	<div class="jumbotron text-center">
		<h1>Constituencies</h1>
	</div>
	
	<div class="text-center"> 
		<img src="/niwestmin.gif" alt="constituencyMap" usemap="#constituencyMap" align="middle"/>
			<map name="constituencyMap" id="constituencyMap">
			    <area alt="Mid Ulster" title="" href="/members/7" shape="rect" coords="148,111,175,134" />
			    <area alt="West Tyrone" title="" href="/members/18" shape="rect" coords="60,117,122,136" />
			    <area alt="Fermanagh and South Tyrone" title="Fermanagh and South Tyrone" href="/members/4" shape="rect" coords="40,177,104,204" />
			    <area alt="Foyle" title="Foyle" href="/members/5" shape="rect" coords="89,61,115,75" />
			    <area alt="East Londonderry" title="East Londonderry" href="/members/3" shape="rect" coords="134,45,173,71" />
			    <area alt="North Antrim" title="North Antrim" href="/members/9" shape="rect" coords="188,50,225,72" />
			    <area alt="East Antrim" title="East Antrim" href="/members/1" shape="rect" coords="243,78,262,106" />
			    <area alt="South Antrim" title="South Antrim" href="/members/12" shape="rect" coords="216,105,246,125" />
			    <area alt="Newry and Armagh" title="Newry and Armagh" href="/members/8" shape="rect" coords="157,189,198,214" />
			    <area alt="Upper Bann" title="Upper Bann" href="/members/16" shape="rect" coords="189,156,214,180" />
			    <area alt="Lagan Valley" title="Lagan Valley" href="/members/6" shape="rect" coords="220,150,248,174" />
			    <area alt="South Down" title="South Down" href="/members/14" shape="rect" coords="222,200,252,224" />
			    <area alt="Strangford" title="Strangford" href="/members/15" shape="rect" coords="255,149,303,163" />
			    <area alt="North Down" title="North Down" href="/members/11" shape="rect" coords="265,119,289,133" />
			    <area alt="North Belfast" title="North Belfast" href="/members/10" shape="rect" coords="242,127,250,135" />
			    <area alt="West Belfast" title="West Belfast" href="/members/17" shape="rect" coords="235,135,243,146" />
			    <area alt="South Belfast" title="South Belfast" href="/members/13" shape="rect" coords="246,141,253,152" />
			    <area alt="East Belfast" title="East Belfast" href="/members/2" shape="rect" coords="252,131,257,141" />
			</map>

		
	</div> 
	
</body>
</html>