<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
<title>Titanic</title>
<link rel="stylesheet" 	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
body {
	position: relative;
}
#section1 {	padding-top: 50px;	color: #778899;	background-color: #cae1ff}
#section2 {	padding-top: 50px;	color: #778899;	background-color: #faf0e6}
#section3 {	padding-top: 50px;	color: #fff;	background-color: #ffffe0}
</style>
</head>

<body>
	<nav th:replace="layouts/nav :: navFragment">
	</nav>
	<div id="section1" class="jumbotron text-center">
		<h1>The Titanic</h1>
	</div>

	<div id="section2" class="container-fluid">
		<div class="row">

			<div class="col-sm-6">
				<div class="thumbnail">
					<img src="/titanic.jpg" height="200" />
					<div class="caption">
						<p>Titanic Clearing Southampton.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="thumbnail">
					<img src="/titanic2.jpg" />
					<div class="caption">
						<p>Picture of the Titanic before setting sail. Picture
							courtesy of Steve Raffield.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>