<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
<title th:text="${pageTitle}">Generic Page Title</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>


</head>

<body>
	
	<div class="jumbotron text-center">
		<h1>Events</h1>
	</div>
	
	<div class="container text-center">
	<table class="table table-striped">
	   <thead>
	     <tr>
	       <th>Name</th>
	       <th>Venue</th>
	       <th>Start Date</th>
	       <th></th>
	     </tr>
	   </thead>
	   <tbody>
		   <tr th:each="event : ${event}">
			   <td th:text="${event.title}"></td>
			   <td th:text="${#dates.format(event.startDate, 'dd/MM/yyyy')}">31/12/2017</td>
			   <td><a href="#" th:href="@{events/} + ${event.identifier}">More Information</a></td>
			   </tr>
	   </tbody>
	</table>
	</div>
	
</body>
</html>