<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
	<title th:text="${pageTitle}">Generic Page Title</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</head>

<body>
	
	<div class="jumbotron text-center">
		<h1>UK Music Charts</h1>
		<h4>UK Singles and Album charts top 10!</h4>
	</div>
	
	<div class="container">
	    <a href="/singles" class="btn btn-primary btn-lg">Singles Charts</a>
	    <a href="/albums" class="btn btn-primary btn-lg">Albums Charts</a>
	  </div>
	
	
	
</body>
</html>

