<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
	<title th:text="${pageTitle}">Generic Page Title</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</head>

<body>
	
	<div class="jumbotron text-center">
		<h1>Large Buildings</h1>
	</div>
	
	<div class="container">
	  <h4>Largest Buildings by Floor Area, Footprint and Usable Volume</h4>
	 
	    <a href="/floor" class="btn btn-primary btn-lg">Largest Building by Floor Area</a>
	    <a href="/footprint" class="btn btn-primary btn-lg">Largest Building by Footprint</a>
	    <a href="/volume" class="btn btn-primary btn-lg">Largest Building by Usable Volume</a>
	  
	  </div>
	
	
	
</body>
</html>

