<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
	<title th:text="${pageTitle}">Generic Page Title</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</head>

<body>
	<nav th:replace="layout/nav :: navFragment">
	</nav>
	<div class="jumbotron text-center">
		<h1>Large Buildings</h1>
	</div>
	
	<div class="container">
	  <h2>Home</h2>
	</div>
	
	
	
</body>
</html>

