<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
	<title th:text="${pageTitle}">Generic Page Title</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</head>

<body>
	<nav th:replace="layout/nav :: navFragment">
	</nav>
	<div class="jumbotron text-center">
		<h1>Large Buildings</h1>
		<h3>Top 10 large buildings by usable volume</h3>
	</div>
	
	<div class="container">
	  <h2>Largest Usable Volume</h2>
	  <div class="table-responsive">          
		  <table class="table">
		    <thead>
		      <tr>
		        <th>#</th>
		        <th>Building Name</th>
		        <th>Country</th>
		        <th>City</th>
		        <th>Floor Area</th>
		        <th>Volume</th>
		        <th>Picture</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr th:each="volume : ${building}">
		        <td th:text="${volume.rank}">1</td>
		        <td th:text="${volume.name}">Boeing Everett Factory</td>
		        <td th:text="${volume.country}">United States</td>
		        <td th:text="${volume.place}">Everett, Washington</td>
		        <td th:text="${volume.area}">398,000</td>
		        <td th:text="${volume.volume}">13.3 million</td>
		        <td><img src="../static/BoeingEverettFactory.png" th:src="${volume.image}" height="100" width="150"/></td>
		      </tr>
		    </tbody>
		  </table>
		  </div>
	</div>
	
	
	
</body>
</html>
