<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

<title>Breakfast Cereals</title>
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
     src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

      <nav th:replace="layouts/nav :: navFragment"></nav>

      <div class="jumbotron text-center">

            <h1 th:text="${cereal.name}"></h1>
            <h4 th:text="${cereal.manufacturer}"></h4>
            <br />
      </div>

      <div class="container">
            <table class="table table-bordered">
                  <thead>
                        <tr>
                              <th>Nutritional Information</th>
                              <th>Value</th>
                        </tr>
                  </thead>
                  <tbody>
                        <tr>
                              <td>Energy (kJ)</td>
                              <td th:text="${cereal.energy}"></td>
                        </tr>
                        <tr>
                              <td>Calories (kcal)</td>
                              <td th:text="${cereal.calories}"></td>
                        </tr>
                        <tr>
                              <td>Protein (g)</td>
                              <td th:text="${cereal.protein}"></td>
                        </tr>
                        <tr>
                              <td>Carbohydrates (g)</td>
                              <td th:text="${cereal.carbohydrates}"></td>
                        </tr>
                        <tr>
                              <td>Sugars (g)</td>
                              <td th:text="${cereal.sugars}"></td>
                        </tr>
                        <tr>
                              <td>Fat (g)</td>
                              <td th:text="${cereal.fat}"></td>
                        </tr>
                        <tr>
                              <td>Saturates (g)</td>
                              <td th:text="${cereal.saturates}"></td>
                        </tr>
                        <tr>
                              <td>Fibre (g)</td>
                              <td th:text="${cereal.fibre}"></td>
                        </tr>
                        <tr>
                              <td>Sodium (g)</td>
                              <td th:text="${cereal.sodium}"></td>
                        </tr>
                        <tr>
                              <td>Salt (g)</td>
                              <td th:text="${cereal.salt}"></td>
                        </tr>
                        <tr>
                              <td>Iron (mg)</td>
                              <td th:text="${cereal.iron}"></td>
                        </tr>
                  
                 </tbody>
            </table>
      </div>




</body>
</html>
